<div style="height: 100%; display: flex; flex-direction: column; justify-content: space-between">
  <div class="nav-container">
    <h3>Perfil de Paciente {{patient.name}}</h3>
  </div>
  <div>
    <div *ngFor="let questionnaire of questionaires" class="patient-questionnaires">
      <p style="margin: 0">{{questionnaire.title}}</p>
      <div *ngIf="questionnaire.done">
        <p style="margin: 0">Hecho</p>
      </div>
      <div *ngIf="!questionnaire.done" style="display: flex; align-items: center">
        <p style="margin: 0">Pendiente</p>
        <button mat-icon-button matSuffix [routerLink]="['/questionnaire', questionnaire.id, patient.id, 'Patient']" style="border: 0;">
          <mat-icon>arrow_right_alt</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div style="margin: 10px">
    <button mat-flat-button (click)="logout()">Cerrar sesion</button>
  </div>
</div>
