<div style="height: 100%">
  <div class="nav-container">
    <h3>{{questionaire.title}}</h3>
  </div>
  <div *ngFor="let question of questions" class="patient-info">
    <p style="margin: 0">{{question.text}}</p>
    <div>
      <ng-container *ngIf="question.type_question === '0-5' || question.type_question === '0-3'; else elseTemplate">
        <p style="margin: 0 10px 0 0">Respuesta {{slider.value}}</p>
        <mat-slider
          class="example-margin"
          [max]="question.type_question === '0-5' ? 5 : 3"
          [min]="0"
          [discrete]="true">
          <input matSliderThumb [(ngModel)]="question.answer" #slider>
        </mat-slider>
      </ng-container>
      <ng-template #elseTemplate>
        <ng-container *ngIf="question.type_question === 'Input-User'; else elseTemplate2">
          <mat-form-field appearance="outline" subscriptSizing="dynamic">
            <mat-label>Respuesta {{question.order}}</mat-label>
            <input matInput [(ngModel)]="question.answer" type="number" autocomplete="off"/>
          </mat-form-field>
        </ng-container>
        <ng-template #elseTemplate2>
          <mat-form-field appearance="outline" subscriptSizing="dynamic">
            <mat-label>Respuesta {{question.order}}</mat-label>
            <mat-select [(value)]="question.answer">
              <mat-option *ngFor="let option of question.optionsSelect; let i = index" [value]="i">
                {{option}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </ng-template>
      </ng-template>
    </div>
    <p style="margin: 0">{{question.hint}}</p>
  </div>
  <div style="display: flex; justify-content: center">
    <button mat-flat-button (click)="finishQuestionnaire()">Terminar cuestionario</button>
  </div>
  <div style="margin: 10px">
    <button mat-flat-button (click)="navigateBack()">Regresar</button>
  </div>
</div>
