<div class="login-container">
  <div class="login-box">
    <h2 class="login-title">Iniciar sesión</h2>
    <form (submit)="login()">
      <mat-form-field class="full-width">
        <mat-label>Correo electrónico</mat-label>
        <input matInput [(ngModel)]="email" name="email" required />
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Contraseña</mat-label>
        <input matInput type="password" [(ngModel)]="password" name="password" required />
      </mat-form-field>
      <div class="login-options">
        <button type="submit" class="login-button">Iniciar sesión</button>
      </div>
      <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
    </form>
    <div class="register-link">
      ¿No tienes cuenta? <a routerLink="/register">Regístrate</a>
    </div>
  </div>
</div>
